@page "/{Host}/access/new"

@rendermode InteractiveServer

@using RemoteMaster.Server.Components.Library
@using RemoteMaster.Server.Components.Library.Abstractions

@inject IDialogWindowService DialogService

<PageTitle>@Host</PageTitle>

<ThemeProvider IsDarkTheme="true" />
<Dialog />

<div class="flex h-screen flex-col">
    <AppBar Title="RemoteMaster Dashboard">
        <RightContent>
            <button @onclick="ShowInformationDialog">Show Info</button>
            <button @onclick="ShowConfirmationDialog">Show Confirmation</button>
            <Button Label="Action 1" Icon="menu" IsDisabled="true" Size="Library.Enums.ButtonSize.Small" />
            <Button Label="Action 2" Color="Library.Enums.ButtonColor.Danger" />
            <img src="/images/avatar.jpg" alt="User Profile" class="ml-4 h-8 w-8 rounded-full" />
        </RightContent>
    </AppBar>

    <div class="relative flex flex-grow">
        <MainContent Title="@($"Remote Access: {Host}")">
            <p class="text-gray-900 dark:text-gray-100">Remote host management interface will be displayed here.</p>
        </MainContent>

        <Sidebar>
            <ExpandablePanel Title="General Settings">
                <Checkbox Label="Enable Feature X" IsChecked="@FeatureXEnabled" IsCheckedChanged="OnFeatureXChanged" />
                <Checkbox Label="Enable Feature Y" IsChecked="@FeatureYEnabled" IsCheckedChanged="OnFeatureYChanged" />
            </ExpandablePanel>

            <ExpandablePanel Title="Network Settings">
                <Checkbox Label="Enable Remote Access" IsChecked="@RemoteAccessEnabled" IsCheckedChanged="OnRemoteAccessChanged" />
                <Checkbox Label="Enable Local Access" IsChecked="@LocalAccessEnabled" IsCheckedChanged="OnLocalAccessChanged" />
            </ExpandablePanel>
        </Sidebar>
    </div>
</div>
