@page "/{Host}/access/new"

@rendermode InteractiveServer

@using RemoteMaster.Server.Components.Library
@using RemoteMaster.Server.Components.Library.Abstractions

@inject IDialogWindowService DialogService
@inject IJSRuntime JsRuntime

<PageTitle>@Host</PageTitle>

<ThemeProvider IsDarkTheme="true" />
<DialogProvider />

<div class="flex h-screen flex-col">
    <AppBar Title="RemoteMaster Dashboard">
        <RightContent>
            <Button OnClick="ShowInformationDialog">Show Info</Button>
            <Button OnClick="ShowMessageBox">Show MessageBox</Button>
            <img src="/images/avatar.jpg" alt="User Profile" class="ml-4 h-8 w-8 rounded-full" />
        </RightContent>
    </AppBar>

    <div class="relative flex flex-grow">
        <MainContent Title="@($"Remote Access: {Host}")">
            <p class="text-gray-900 dark:text-gray-100">Remote host management interface will be displayed here.</p>
            <SelectableArea ContainerId="test-container" SelectableSelector=".selectable" OnSelectionChanged="HandleSelectionArea">
                <div class="grid-cols-3 grid gap-4 p-4">
                    <div id="test1" class="selectable col-span-1 rounded-lg bg-blue-200 p-3 dark:bg-blue-800" data-example="test1data">
                        Basic Settings
                    </div>
                    <div id="test2" class="selectable col-span-2 rounded-lg bg-green-200 p-3 dark:bg-green-800" data-example="test2data">
                        Advanced Network Configuration
                    </div>
                    <div id="test3" class="selectable col-span-3 rounded-lg bg-red-200 p-3 dark:bg-red-800" data-example="test3data">
                        Full System Check
                    </div>
                    <div id="test4" class="selectable col-span-1 rounded-lg bg-yellow-200 p-3 dark:bg-yellow-800" data-example="test4data">
                        User Management
                    </div>
                    <div id="test5" class="selectable col-span-2 rounded-lg bg-purple-200 p-3 dark:bg-purple-800" data-example="test5data">
                        Security Settings
                    </div>
                </div>
            </SelectableArea>
        </MainContent>

        <Sidebar>
            <ExpandablePanel Title="General Settings">
                <Checkbox Label="Enable Feature X" IsChecked="@FeatureXEnabled" IsCheckedChanged="OnFeatureXChanged" />
                <Checkbox Label="Enable Feature Y" IsChecked="@FeatureYEnabled" IsCheckedChanged="OnFeatureYChanged" />
            </ExpandablePanel>

            <ExpandablePanel Title="Network Settings">
                <Checkbox Label="Enable Remote Access" IsChecked="@RemoteAccessEnabled" IsCheckedChanged="OnRemoteAccessChanged" />
                <Checkbox Label="Enable Local Access" IsChecked="@LocalAccessEnabled" IsCheckedChanged="OnLocalAccessChanged" />
            </ExpandablePanel>
        </Sidebar>
    </div>
</div>
