@page "/"

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using RemoteMaster.Server.Abstractions
@using System.Security.Claims
@using RemoteMaster.Server.Aggregates.ApplicationUserAggregate

@inject IBrandingService BrandingService
@inject IDialogService DialogService
@inject ICrlService CrlService
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject UserManager<ApplicationUser> UserManager
@inject INotificationService NotificationService
@inject IOrganizationService OrganizationService

<PageTitle>RemoteMaster - Home</PageTitle>

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudMenu Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter" PopoverClass="docs-layout-menu-shadow" ListClass="pa-2 docs-menu-list" LockScroll="true">
            <div class="d-flex justify-space-between align-center px-2">
                <MudText Typo="Typo.subtitle2">Notifications</MudText>
                <MudButton StartIcon="@Icons.Material.Filled.DoneAll" Variant="Variant.Text" Color="Color.Primary" Class="mr-n2 ml-16">Mark as read</MudButton>
            </div>
            @if (_messages != null)
            {
                @foreach (var (message, isRead) in _messages.Take(5))
                {
                    <MudMenuItem Class="rounded px-2 py-0">
                        <MudText Typo="Typo.subtitle2">@message.Title</MudText>
                        <MudText Typo="Typo.body2">@message.Text</MudText>
                        <MudText Typo="Typo.body2">@($"{message.Author} • {message.PublishDate:MM/dd/yyyy}")</MudText>
                    </MudMenuItem>
                    <MudDivider Class="my-2" />
                }
            }
            else
            {
                <div class="d-flex align-center relative justify-center px-2 py-8">
                    <MudText Class="mud-text-secondary my-12">Nothing new :(</MudText>
                </div>
            }
        </MudMenu>
        <AuthorizeView>
            <Authorized>
                <MudText>@context.User.Identity.Name (@context.User.FindFirstValue(ClaimTypes.Role))</MudText>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen" Variant="@DrawerVariant.Responsive" Elevation="0">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">
                <img src="@BrandingService.ApplicationLogo" width="@BrandingService.ApplicationLogoWidth" height="@BrandingService.ApplicationLogoHeight" alt="@BrandingService.ApplicationName" />
            </MudText>
        </MudDrawerHeader>

        <MudNavMenu>
            <AuthorizeView>
                <Authorized>
                    @if (context.User.IsInRole("Administrator"))
                    {
                        <MudNavLink Match="NavLinkMatch.All" OnClick="OpenCertificateRenewTasks">Certificate tasks</MudNavLink>
                        <MudNavLink Match="NavLinkMatch.All" OnClick="PublishCrl">Publish CRL</MudNavLink>
                    }
                    <MudNavLink Match="NavLinkMatch.All" OnClick="ManageProfile">Profile</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" OnClick="Logout">Logout</MudNavLink>
                </Authorized>
            </AuthorizeView>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <div class="flex h-full">
            <div class="flex-shrink-0 w-96">
                <MudTreeView Items="@_treeItems" T="object" SelectedValueChanged="OnNodeSelected" Hover="true" Class="pa-6">
                    <ItemTemplate>
                        <MudTreeViewItem Text="@context.Text" Value="@context.Value" Icon="@context.Icon">
                            <ChildContent>
                                @if (context.Children is { Count: > 0 })
                                {
                                    @foreach (var child in context.Children)
                                    {
                                        <MudTreeViewItem Text="@child.Text" Value="@child.Value" Icon="@child.Icon" />
                                    }
                                }
                            </ChildContent>
                        </MudTreeViewItem>
                    </ItemTemplate>
                </MudTreeView>
            </div>

            <div class="flex flex-grow flex-col gap-4 overflow-auto p-4">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6 tabs flex">
                    <MudTabPanel Text="Main" Icon="@Icons.Material.Filled.Api">
                        <AuthorizeView>
                            <Authorized>
                                @if (context.User.HasClaim("Power", "RebootHost") || context.User.HasClaim("Power", "ShutdownHost"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Power" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Power</MudButton>
                                }             

                                @if (context.User.HasClaim("Power", "WakeUpHost"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="WakeUp" Disabled="@(_selectedHosts.Count == 0)" Class="mr-2">Wake Up</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Connect", "View") || context.User.HasClaim("Connect", "Control"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Connect" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Connect</MudButton>
                                }      

                                @if (context.User.HasClaim("Security", "LockWorkStation"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Lock" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Lock</MudButton>
                                }

                                @if (context.User.HasClaim("Execution", "OpenShell"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenShell" Disabled="@(_selectedHosts.Count == 0)" Class="mr-2">Open Shell</MudButton>
                                }

                                @if (context.User.HasClaim("Execution", "Scripts"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ExecuteScript" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Execute Script</MudButton>
                                }

                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="LogonHosts" Disabled="@(_selectedHosts.Count == 0 || _selectedHosts.Any(c => _availableHosts.ContainsKey(c.IpAddress) || _unavailableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Logon</MudButton>
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="LogoffHosts" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.Any(c => _availableHosts.ContainsKey(c.IpAddress) || _unavailableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Logoff</MudButton>
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Refresh" Class="ml-auto">Refresh</MudButton>
                            </Authorized>
                        </AuthorizeView>
                    </MudTabPanel>

                    <AuthorizeView>
                        <Authorized>
                            <MudTabPanel Text="Service" Icon="@Icons.Material.Filled.Key">
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AppLauncher" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">App Launcher</MudButton>

                                @if (context.User.HasClaim("Hardware", "SetMonitorState"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SetMonitorState" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Set Monitor State</MudButton>
                                }

                                @if (context.User.HasClaim("Execution", "ManagePsExecRules"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ManagePsExecRules" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">PSExec Rules</MudButton>
                                }

                                @if (context.User.HasClaim("Screen", "Recording"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ScreenRecorder" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Screen Recorder</MudButton>

                                }

                                @if (context.User.HasClaim("Domain", "Membership"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="DomainMembership" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Domain Membership</MudButton>
                                }

                                @if (context.User.HasClaim("HostManagement", "Update"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Update" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Update</MudButton>
                                }
                            </MudTabPanel>

                            <MudTabPanel Text="Tools" Icon="@Icons.Material.Filled.MiscellaneousServices">
                                @if (context.User.HasClaim("Tasks", "Manager"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenTaskManager" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Task Manager</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Devices", "Manager"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenDeviceManager" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Device Manager</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Files", "Manager"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenFileManager" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">File Manager</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Files", "Upload"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="FileUpload" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Upload File</MudButton>
                                }

                                @if (context.User.HasClaim("Communication", "MessageBox"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="MessageBox" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Message Box</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Communication", "Chat"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenChat" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Chat</MudButton>
                                }
                                
                                @if (context.User.HasClaim("Logs", "Manager"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenLogsManager" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Logs Viewer</MudButton>
                                }
                            </MudTabPanel>

                            <MudTabPanel Text="Management" Icon="@Icons.Material.Filled.Settings">
                                @if (context.User.HasClaim("HostInformation", "View"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenHostInfo" Disabled="@(_selectedHosts.Count != 1)" Class="mr-2">Host Info</MudButton>
                                }

                                @if (context.User.HasClaim("HostManagement", "Move"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenHostMoveDialog" Disabled="@(_selectedHosts.Count == 0)" Class="mr-2">Move Host</MudButton>
                                }
                                
                                @if (context.User.HasClaim("HostManagement", "Remove"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RemoveHosts" Disabled="@(_selectedHosts.Count == 0)" Class="mr-2">Remove</MudButton>
                                }

                                @if (context.User.HasClaim("HostManagement", "RenewCertificate"))
                                {
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RenewCertificate" Disabled="@(_selectedHosts.Count == 0 || !_selectedHosts.All(c => _availableHosts.ContainsKey(c.IpAddress)))" Class="mr-2">Renew Certificate</MudButton>
                                }
                            </MudTabPanel>

                            @*<MudTabPanel Text="@Localizer["ExtraTab"]" Icon="@Icons.Material.Filled.Settings">
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RemoteExecutor" Class="mr-2">@Localizer["RemoteExecutor"]</MudButton>
                            </MudTabPanel>*@
                        </Authorized>
                    </AuthorizeView>
                </MudTabs>

                <div class="flex flex-col gap-4">
                    <MudExpansionPanels MultiExpansion="true">
                        <MudExpansionPanel Text="@("Available hosts (" + _availableHosts.Count + ")")" Expanded="true">
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="SelectAllAvailableHosts" Disabled="@(!CanSelectAll(_availableHosts))">Select All</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="DeselectAllAvailableHosts" Disabled="@(!CanDeselectAll(_availableHosts))">Deselect All</MudButton>
                            <div class="mt-4 flex flex-wrap gap-4">
                                @if (_availableHosts.Any())
                                {
                                    @foreach (var host in GetSortedHosts(_availableHosts))
                                    {
                                        <div class="w-1/6">
                                            <HostCard @key="host" Host="host" IsSelectedChanged="@(isSelected => SelectHost(host, isSelected))" IsSelected="_selectedHosts.Contains(host)" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="w-full p-4 text-center">
                                        <MudText Typo="Typo.body1">No available hosts</MudText>
                                    </div>
                                }
                            </div>
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="@("Unavailable hosts (" + _unavailableHosts.Count + ")")" Expanded="true">
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="SelectAllUnavailableHosts" Disabled="@(!CanSelectAll(_unavailableHosts))">Select All</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="DeselectAllUnavailableHosts" Disabled="@(!CanDeselectAll(_unavailableHosts))">Deselect All</MudButton>
                            <div class="mt-4 flex flex-wrap gap-4">
                                @if (_unavailableHosts.Any())
                                {
                                    @foreach (var host in GetSortedHosts(_unavailableHosts))
                                    {
                                        <div class="w-1/6">
                                            <HostCard @key="host" Host="host" IsSelectedChanged="@(isSelected => SelectHost(host, isSelected))" IsSelected="_selectedHosts.Contains(host)" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="w-full p-4 text-center">
                                        <MudText Typo="Typo.body1">No unavailable hosts</MudText>
                                    </div>
                                }
                            </div>
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="@("Pending hosts (" + _pendingHosts.Count + ")")" Expanded="true">
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="SelectAllPendingHosts" Disabled="@(!CanSelectAll(_pendingHosts))">Select All</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="DeselectAllPendingHosts" Disabled="@(!CanDeselectAll(_pendingHosts))">Deselect all</MudButton>
                            <div class="mt-4 flex flex-wrap gap-4">
                                @if (_pendingHosts.Any())
                                {
                                    @foreach (var host in GetSortedHosts(_pendingHosts))
                                    {
                                        <div class="w-1/6">
                                            <HostCard @key="host" Host="host" IsSelectedChanged="@(isSelected => SelectHost(host, isSelected))" IsSelected="_selectedHosts.Contains(host)" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="w-full p-4 text-center">
                                        <MudText Typo="Typo.body1">No pending hosts</MudText>
                                    </div>
                                }
                            </div>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </div>
            </div>
        </div>
    </MudMainContent>
</MudLayout>
