@page "/"
@rendermode InteractiveServer
@using RemoteMaster.Server.Models

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>RemoteMaster Server - Home</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/vitkuz573/RemoteMaster" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" Variant="@DrawerVariant.Responsive">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">RemoteMaster</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" OnClick="OpenHostConfigurator">Host Configurator</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" OnClick="Logout">Logout</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent Class="container">
        <MudTreeView Items="@_nodes" T="Node" SelectedValueChanged="OnNodeSelected" Hover="true" Class="column tree-view">
            <ItemTemplate>
                <MudTreeViewItem Items="@context.Nodes" Value="@context" Text="@context.Name" />
            </ItemTemplate>
        </MudTreeView>

        <div class="column row">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6 flex tabs">
                <MudTabPanel Text="Main" Icon="@Icons.Material.Filled.Api">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Power" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Power</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Connect" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Connect</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenShell" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Open Shell</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ExecuteScript" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Execute Script</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="HandleRefreshClick" Class="ml-auto">Refresh</MudButton>
                </MudTabPanel>

                <MudTabPanel Text="Service" Icon="@Icons.Material.Filled.MiscellaneousServices">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SetMonitorState" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Set Monitor State</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ManagePSExecRules" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">PSExec Rules</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ScreenRecorder" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Screen Recorder</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="DomainMember" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Domain Management</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Update" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Update</MudButton>
                </MudTabPanel>
            </MudTabs>

            <div class="cards">
                @if (_selectedNode is Folder selectedFolder)
                {
                    foreach (var child in _selectedNode.Nodes)
                    {
                        if (child is Computer computer)
                        {
                            <div class="card">
                                <ComputerCard @key="computer" Computer="computer" IsSelectedChanged="@(isSelected => HandleComputerSelection(computer, isSelected))" />
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </MudMainContent>
</MudLayout>

<style>
    .container {
        display: flex;
        margin: 10px;
    }

    .column {
        flex: 1;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .tree-view {
        flex: 0.3;
        margin: 0 10px 0 0;
    }

    .tabs-content {
        flex: 1;
    }

    .tabs {
        flex: 0.2;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .card {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
</style>