@page "/"
@rendermode InteractiveServer
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using RemoteMaster.Server.Abstractions
@using RemoteMaster.Shared.Models
@inject IBrandingService BrandingService
@inject IDialogService DialogService
@inject IDatabaseService DatabaseService
@inject IHttpContextAccessor HttpContextAccessor
@inject IComputerConnectivityService ComputerConnectivityService
@inject ICrlService CrlService
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>@BrandingService.ApplicationName - Home</PageTitle>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
        <MudSpacer />
        <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.NightsStay : Icons.Material.Filled.WbSunny)"
                       Color="Color.Inherit"
                       OnClick="@ToggleTheme" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/vitkuz573/RemoteMaster" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Variant="@DrawerVariant.Responsive">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">
                <img src="@BrandingService.ApplicationLogo" width="@BrandingService.ApplicationLogoWidth" height="@BrandingService.ApplicationLogoHeight" alt="@BrandingService.ApplicationName" />
            </MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" OnClick="OpenHostConfigurationGenerator">Host Configuration Generator</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" OnClick="PublishCrl">Publish CRL</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" OnClick="Logout">Logout</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <div class="flex h-screen">
            <div>
                <MudTreeView Items="@_nodes" T="Node" SelectedValueChanged="OnNodeSelected" Hover="true" Class="pa-6">
                    <ItemTemplate>
                        <MudTreeViewItem Items="@context.Nodes" Value="@context" Text="@context.Name" />
                    </ItemTemplate>
                </MudTreeView>
            </div>

            <div class="flex flex-grow flex-col gap-4 p-4">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6 tabs flex">
                    <MudTabPanel Text="Main" Icon="@Icons.Material.Filled.Api">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Power" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Power</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="WakeUp" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Wake Up</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Connect" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Connect</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenShell" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Open Shell</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ExecuteScript" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Execute Script</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="HandleRefreshClick" Class="ml-auto">Refresh</MudButton>
                    </MudTabPanel>

                    <MudTabPanel Text="Service" Icon="@Icons.Material.Filled.Key">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SetMonitorState" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Set Monitor State</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ManagePsExecRules" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">PSExec Rules</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ScreenRecorder" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Screen Recorder</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="DomainMembership" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Domain Membership</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Update" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Update</MudButton>
                    </MudTabPanel>
                    
                    <MudTabPanel Text="Tools" Icon="@Icons.Material.Filled.MiscellaneousServices">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="TaskManager" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Task Manager</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="FileManager" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">File Manager</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="FileUpload" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Upload File</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="MessageBox" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">MessageBox</MudButton>
                    </MudTabPanel>

                    <MudTabPanel Text="Management" Icon="@Icons.Material.Filled.Settings">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Move" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Move</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Remove" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Remove</MudButton>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RenewCertificate" Disabled="@(_selectedComputers.Count == 0)" Class="mr-2">Renew Certificate</MudButton>
                    </MudTabPanel>
                </MudTabs>

                <div class="flex flex-col gap-4">
                    <MudExpansionPanels MultiExpansion="true">
                        <MudExpansionPanel Text="@($"Available computers ({_availableComputers.Count})")" IsInitiallyExpanded="true">
                            <div class="flex flex-wrap gap-4">
                                @if (_availableComputers.Any())
                                {
                                    foreach (var computer in _availableComputers)
                                    {
                                        <div class="w-1/6">
                                            <ComputerCard @key="computer" Computer="computer" IsSelectedChanged="@(isSelected => HandleComputerSelection(computer, isSelected))" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="w-full p-4 text-center">
                                        <MudText Typo="Typo.body1">No available computers to display.</MudText>
                                    </div>
                                }
                            </div>
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="@($"Unavailable computers ({_unavailableComputers.Count})")" IsInitiallyExpanded="true">
                            <div class="flex flex-wrap gap-4">
                                @if (_unavailableComputers.Any())
                                {
                                    foreach (var computer in _unavailableComputers)
                                    {
                                        <div class="w-1/6">
                                            <ComputerCard @key="computer" Computer="computer" IsSelectedChanged="@(isSelected => HandleComputerSelection(computer, isSelected))" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="w-full p-4 text-center">
                                        <MudText Typo="Typo.body1">No unavailable computers to display.</MudText>
                                    </div>
                                }
                            </div>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </div>
            </div>
        </div>
    </MudMainContent>
</MudLayout>