@page "/{Host}/logs"

@using RemoteMaster.Server.Abstractions

@rendermode InteractiveServer

@inject IAccessTokenProvider AccessTokenProvider

<PageTitle>Logs Viewer</PageTitle>

<div class="min-h-screen bg-gray-100 p-4 sm:p-6">
    <div class="mx-auto max-w-7xl">
        <div class="mb-4 flex flex-col space-y-4 sm:flex-row sm:justify-between sm:space-y-0">
            <div class="flex flex-col items-center space-y-2 sm:flex-row sm:space-y-0 sm:space-x-4">
                <select @onchange="OnLogSelected" class="h-10 rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="" disabled selected>Select a log file</option>
                    @foreach (var log in _logFiles)
                    {
                        <option value="@log">@log</option>
                    }
                </select>
                <select @bind="_selectedLogLevel" class="h-10 rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">All Levels</option>
                    <option value="VER">Verbose</option>
                    <option value="DBG">Debug</option>
                    <option value="INF">Information</option>
                    <option value="WRN">Warning</option>
                    <option value="ERR">Error</option>
                    <option value="FAT">Fatal</option>
                </select>
                <InputDate @bind-Value="_startDate" class="h-10 rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                <InputDate @bind-Value="_endDate" class="h-10 rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                <button @onclick="FetchFilteredLogs" class="h-10 w-32 rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none sm:w-auto">
                    Fetch Logs
                </button>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full overflow-hidden rounded-md bg-white shadow">
                <thead>
                    <tr class="bg-gray-50">
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">
                            Date
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">
                            Level
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">
                            Message
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    @foreach (var logEntry in _logEntries)
                    {
                        <tr>
                            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-900">@logEntry.Date</td>
                            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-900">@logEntry.Level</td>
                            <td class="whitespace-pre-wrap break-words px-6 py-4 text-sm text-gray-900">@logEntry.Message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
