@page "/{Host}/taskmanager"

@rendermode InteractiveServer

@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using RemoteMaster.Server.Abstractions
@using RemoteMaster.Server.Data
@using RemoteMaster.Shared.Models

@inject IJSRuntime JsRuntime
@inject IAccessTokenProvider AccessTokenProvider
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudTable Items="@_processes" Dense="true" Hover="true" Filter="new Func<ProcessInfo, bool>(FilterFunc1)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Task Manager</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_processPath" Placeholder="Enter process path" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddBox" IconSize="Size.Medium" Class="mx-2 mt-0"></MudTextField>
            <MudButton OnClick="StartProcess" Variant="Variant.Filled" Color="Color.Primary">Start Process</MudButton>
            <MudTextField @bind-Value="_searchQuery" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ProcessInfo, object>(x => x.Id)">
                    Process ID
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ProcessInfo, object>(x => x.Name)">
                    Name
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<ProcessInfo, object>(x => x.MemoryUsage)">
                    Memory Usage
                </MudTableSortLabel>
            </MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Process ID">@context.Id</MudTd>
            <MudTd DataLabel="Name">
                    <div style="display: flex; align-items: center;">
                        @if (context.Icon != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(context.Icon)}")" alt="Icon" style="height: 20px; width: 20px; margin-right: 10px;" />
                    }
                    <span>@context.Name</span>
                </div>
            </MudTd>
            <MudTd DataLabel="Memory Usage">@FormatSize(context.MemoryUsage)</MudTd>
            <MudTd>
                <MudButton OnClick="@(() => KillProcess(context.Id))" Color="Color.Error">Kill</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudLayout>
