@page "/Admin/CertificateAuthority"

@rendermode InteractiveServer

@using RemoteMaster.Server.Abstractions

@inject ICertificateAuthorityService CertificateAuthorityService
@inject IJSRuntime JsRuntime
@inject ILogger<ManageCertificateAuthority> Logger

<PageTitle>Manage Certificate Authority</PageTitle>

<div class="space-y-6">
    <div class="w-full space-y-6">
        <div>
            <label class="block text-sm font-medium text-gray-700">Subject</label>
            <input type="text" value="@_subject" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Serial Number</label>
            <input type="text" value="@_serialNumber" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Signature Algorithm</label>
            <input type="text" value="@_signatureAlgorithm" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Key Size</label>
            <input type="text" value="@_keySize" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Issue Date</label>
            <input type="text" value="@_issueDate.ToString("yyyy-MM-dd")" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Expiry Date</label>
            <input type="text" value="@_expiryDate.ToString("yyyy-MM-dd")" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" readonly />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Password for Export</label>
            <input type="password" @bind="_exportPassword" class="shadow-xs mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:outline-hidden" />
        </div>
        <button @onclick="ExportCaCertificateAsync" class="w-full rounded-md bg-indigo-600 px-4 py-2 text-lg text-white hover:bg-indigo-700 focus:outline-hidden" disabled="@string.IsNullOrEmpty(_exportPassword)">
            Export
        </button>
    </div>
</div>
