@using RemoteMaster.Server.Components.Library.Abstractions
@using RemoteMaster.Server.Components.Library.Enums

@inject IDialogWindowService DialogService

<Dialog>
    <TitleContent>
        @if (TitleContent is null)
        {
            <TextBlock Typo="TypoType.H6">@Title</TextBlock>
        }
        else
        {
            @TitleContent
        }
    </TitleContent>
    <DialogContent>
        @if (MessageContent is not null)
        {
            @MessageContent
        }
        else
        {
            @MarkupMessage
            @Message
        }
    </DialogContent>
    <DialogActions>
        <div tabindex="-1" @onkeydown="HandleKeyDown" class="flex justify-end space-x-2">
            @if (CancelButton is not null)
            {
                <CascadingValue Value="@_cancelCallback">
                    @CancelButton
                </CascadingValue>
            }
            else if (!string.IsNullOrWhiteSpace(CancelText))
            {
                <Button OnClick="OnCancelClicked">@CancelText</Button>
            }
            @if (NoButton is not null)
            {
                <CascadingValue Value="@_noCallback">
                    @NoButton
                </CascadingValue>
            }
            else if (!string.IsNullOrWhiteSpace(NoText))
            {
                <Button OnClick="OnNoClicked">@NoText</Button>
            }
            @if (YesButton is not null)
            {
                <CascadingValue Value="@_yesCallback">
                    @YesButton
                </CascadingValue>
            }
            else if (!string.IsNullOrWhiteSpace(YesText))
            {
                <Button Color="ButtonColor.Primary" OnClick="OnYesClicked">@YesText</Button>
            }
        </div>

    </DialogActions>
</Dialog>