@using RemoteMaster.Server.Components.Library.Abstractions
@using RemoteMaster.Server.Components.Library.Enums

@inject IThemeService ThemeService

<div style="@GetDynamicStyles()" class="@GetSidebarClasses()">
    <h2 class="mb-4 text-lg font-bold">@Title</h2>
    @ChildContent
    <div class="@GetSwitchClasses()" @onclick="ToggleSidebar">
        <span class="material-icons">
            @GetSwitchIcon()
        </span>
    </div>
</div>
