@using RemoteMaster.Server.Components.Library.Abstractions
@using RemoteMaster.Server.Components.Library.Enums

@inject IThemeService ThemeService

<div style="transition-duration:@(AnimationDurationMs)ms; @(Position == SidebarPosition.Right ? "right" : "left"):@(_isSidebarOpen ? "0" : $"-{WidthPx}px"); width:@($"{WidthPx}px")" class="@GetSidebarClasses()">
    <h2 class="mb-4 text-lg font-bold">@Title</h2>
    @ChildContent
    <div class="@GetSwitchClasses()" style="opacity:@(GetSwitchOpacity())" @onclick="ToggleSidebar">
        <span class="material-icons">
            @GetSwitchIcon()
        </span>
    </div>
</div>
