@inherits CommonDialogBase
@    using RemoteMaster.Shared.Models
@inject IJSRuntime JsRuntime

<CommonDialog Hosts="@Hosts">
    <Content>
        <MudGrid>
            <MudItem xs="3">
                <MudTextField T="string" Label="Script" @bind-Value="_content" Lines="4" Placeholder="Enter or upload your script here..." />

                <MudFileUpload T="IBrowserFile" OnFilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileUpload" FullWidth for="@context">
                             Upload Script
                         </MudButton>
                     </ButtonTemplate>
                 </MudFileUpload>

                 <MudSelect T="Shell" Label="Select Shell" @bind-Value="_shell" Dense="true">
                     @foreach (var shellType in Enum.GetValues(typeof(Shell)).Cast<Shell>())
                    {
                        <MudSelectItem Value="@shellType" Text="@shellType.ToString()" />
                    }
                </MudSelect>

                <MudCheckBox T="bool" @bind-Value="_asSystem" Label="As System" />

                <MudStack Spacing="2">
                    <MudButton OnClick="CleanResults" Variant="Variant.Filled" Color="Color.Error" Disabled="!_resultsPerComputer.Any()">Clear results</MudButton>
                    <MudButton OnClick="ExportResults" Variant="Variant.Filled" Color="Color.Surface" Disabled="!_resultsPerComputer.Any()">Export Results</MudButton>
                </MudStack>
            </MudItem>

            <MudDivider Vertical="true" FlexItem="true" />

            <MudItem xs="8">
                <MudExpansionPanels Class="max-h-[340px] overflow-y-auto" MultiExpansion="true">
                    @foreach (var (computer, results) in _resultsPerComputer)
                    {
                        <MudExpansionPanel Text="@($"Results for {computer.Name} ({computer.IpAddress}) - PID: {results.LastPid}")">
                            @foreach (var line in results.Messages.ToString().Split([Environment.NewLine], StringSplitOptions.None))
                            {
                                <div>@line</div>
                            }
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </Content>
    <Actions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="RunScript">Run Script</MudButton>
    </Actions>
</CommonDialog>