@inherits CommonDialogBase
@using RemoteMaster.Shared.Models

<CommonDialog Hosts="@Hosts">
    <Content>
        <MudGrid>
            <MudItem xs="4">
                <MudTextField T="string" Label="Script" @bind-Value="_content" Lines="4" Placeholder="Enter or upload your script here..." />

                <MudFileUpload T="IBrowserFile" OnFilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileUpload" FullWidth for="@context">
                             Upload Script
                         </MudButton>
                     </ButtonTemplate>
                 </MudFileUpload>

                 <MudSelect T="Shell?" Label="Select Shell" @bind-Value="_shell" Dense="true">
                     @foreach (var shellType in Enum.GetValues(typeof(Shell)).Cast<Shell?>())
                    {
                        <MudSelectItem Value="@shellType" Text="@shellType.ToString()" />
                    }
                </MudSelect>

                <MudCheckBox T="bool" @bind-Value="_asSystem" Label="As System" />

                @if (_resultsPerComputer.Any())
                {
                    <div class="space-x-2">
                        <MudButton OnClick="CleanResults" Variant="Variant.Filled">Clear results</MudButton>
                        <MudButton OnClick="ExportResults" Variant="Variant.Filled">Export Results</MudButton>
                    </div>
                }
            </MudItem>
            <MudItem xs="6">
                <MudList>
                    @foreach (var (computer, results) in _resultsPerComputer)
                    {
                        <MudExpansionPanel Text="@($"Results for {computer.Name} ({computer.IPAddress})")">
                            @foreach (var line in results.ToString().Split(new[] { Environment.NewLine }, StringSplitOptions.None))
                            {
                                <div>@line</div>
                            }
                        </MudExpansionPanel>
                    }
                </MudList>
            </MudItem>
        </MudGrid>
    </Content>
    <Actions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="RunScript">Run Script</MudButton>
    </Actions>
</CommonDialog>