@inherits CommonDialogBase

@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@using RemoteMaster.Server.Abstractions
@using RemoteMaster.Server.Aggregates.ApplicationUserAggregate
@using RemoteMaster.Server.Data
@using RemoteMaster.Server.Models
@using RemoteMaster.Server.Options

@inject IOptions<ApplicationSettings> ApplicationSettings
@inject IAccessTokenProvider AccessTokenProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager<ApplicationUser> UserManager
@inject IJSRuntime JsRuntime

<CommonDialog>
    <Content>
        <MudGrid>
            <MudItem xs="3">
                <MudTextField T="string" Label="Folder Path" @bind-Value="@_folderPath" />
                <MudTextField T="string" Label="Username" @bind-Value="@_username" />
                <MudTextField T="string" Label="Password" @bind-Value="@_password" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" AdornmentAriaLabel="Show Password" />
                <MudCheckBox @bind-Value="@_forceUpdate" Label="Force Update" />
                <MudCheckBox @bind-Value="@_allowDowngrade" Label="Allow Downgrade" />
                
                <MudStack Spacing="2">
                    <MudButton OnClick="CleanResults" Variant="Variant.Filled" Color="Color.Error" Disabled="!_resultsPerComputer.Any()">Clear results</MudButton>
                    <MudButton OnClick="ExportResults" Variant="Variant.Filled" Color="Color.Surface" Disabled="!_resultsPerComputer.Any()">Export Results</MudButton>
                </MudStack>
            </MudItem>
            
            <MudItem xs="9">
                <MudExpansionPanels Class="max-h-[340px] overflow-y-auto" MultiExpansion="true">
                    @foreach (var (computer, results) in _resultsPerComputer)
                    {
                        <MudExpansionPanel Text="@($"Results for {computer.Name} ({computer.IpAddress}) - PID: {results.LastPid}")" Class="select-text">
                            @foreach (var line in results.Messages.ToString().Split([Environment.NewLine], StringSplitOptions.None))
                            {
                                <div>@line</div>
                            }
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </Content>
    <Actions>
        <MudButton Color="Color.Primary" OnClick="Confirm" Disabled="HasConnectionIssues">OK</MudButton>
    </Actions>
</CommonDialog>
