@using RemoteMaster.Client.Models

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Computer</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@_fluentValidations" Mode="ValidationMode.Manual" Model="@_newComputer" HandlerType="typeof(FluentValidationHandler)">
                <Validation>
                    <Field>
                        <FieldLabel>Name</FieldLabel>
                        <TextEdit @bind-Text="_newComputer.Name" Placeholder="Enter Computer Name">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field>
                        <FieldLabel>IP Address</FieldLabel>
                        <TextEdit @bind-Text="_newComputer.IPAddress" Placeholder="Enter IP Address">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Field>
                    <FieldLabel>Parent Folder</FieldLabel>
                    <Select TValue="Guid?" @bind-Value="_selectedFolderId" Placeholder="Select Folder" SelectedValueChanged="@OnSelectedFolderChanged">
                        @foreach (var folder in Nodes.OfType<Folder>())
                        {
                            <SelectItem Value="@folder.NodeId">@folder.Name</SelectItem>
                        }
                    </Select>
                </Field>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
            <Button Color="Color.Primary" Clicked="AddComputer">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
