@page "/{IPAddress}/control"
@using Microsoft.AspNetCore.SignalR.Client
@using RemoteMaster.Client.Models
@using RemoteMaster.Client.Services
@using System.Text.Json
@using Size = System.Drawing.Size
@inject NavigationManager NavigationManager
@inject ScreenHubConnectionService ScreenHubConnectionService
@inject ComputerService ComputerService
@inject HttpClient HttpClient
@inject ILogger<RemoteMaster.Client.Models.Computer> Logger

@code {
    [Parameter]
    public string IPAddress { get; set; }

    private HubConnection hubConnection;
    private string connectionError;
    private string screenDataUrl;
    private bool isConnectionStarted = false;
    private Computer managedComputer;
    private Size virtualScreenSize;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            managedComputer = ComputerService.GetComputerByIp(IPAddress);
            virtualScreenSize = await GetVirtualScreenSize();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error getting computer: {ex.Message}";
            Logger.LogError(errorMessage);
        }

        if (managedComputer != null && hubConnection == null)
        {
            string serverUrl = $"https://{IPAddress}:7172/screenHub?ipAddress={IPAddress}";
            Logger.LogInformation($"Attempting to connect to {serverUrl}");

            try
            {
                hubConnection = await ScreenHubConnectionService.GetConnectionAsync(serverUrl);
                hubConnection.On<byte[]>("ScreenUpdate", HandleScreenUpdate);
                hubConnection.Closed += HubConnectionClosed;

                if (hubConnection.State == HubConnectionState.Connected)
                {
                    isConnectionStarted = true;
                }
            }
            catch (Exception ex)
            {
                errorMessage = $"Failed to start connection: {ex.Message}";
                Logger.LogError(errorMessage);
            }
        }
    }

    private async Task<Size> GetVirtualScreenSize()
    {
        var response = await HttpClient.GetAsync($"https://{IPAddress}:7172/api/screen/size/virtual");

        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"Failed to retrieve virtual screen size: {response.StatusCode}");
        }

        var responseString = await response.Content.ReadAsStringAsync();

        return JsonSerializer.Deserialize<Size>(responseString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void HandleScreenUpdate(byte[] screenData)
    {
        screenDataUrl = $"data:image/png;base64,{Convert.ToBase64String(screenData)}";
        InvokeAsync(StateHasChanged);
    }

    private Task HubConnectionClosed(Exception arg)
    {
        connectionError = "Server connection lost.";
        Logger.LogWarning(connectionError);
        return InvokeAsync(StateHasChanged);
    }

    public async Task DisposeAsync()
    {
        if (hubConnection != null)
        {
            try
            {
                await hubConnection.DisposeAsync();
            }
            catch (Exception ex)
            {
                Logger.LogError($"Error while disposing HubConnection: {ex.Message}");
            }
        }
    }
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p>@errorMessage</p>
}
else if (!string.IsNullOrEmpty(connectionError))
{
    <div class="overlay">
        <p>@connectionError</p>
    </div>
}
else if (isConnectionStarted && !string.IsNullOrEmpty(screenDataUrl))
{
    <img src="@screenDataUrl" width="1494" />
}
else if (isConnectionStarted)
{
    <p>Connection started successfully, waiting for screen update...</p>
}
else
{
    <p>Establishing connection...</p>
}

@if (virtualScreenSize != null)
{
    <p>Virtual screen size: Width: @virtualScreenSize.Width, Height: @virtualScreenSize.Height</p>
}
