@page "/"

@using RemoteMaster.Client.Models
@using RemoteMaster.Client.Services
@using System.Collections.ObjectModel;
@inject ComputerService ComputerService

@code {
    ObservableCollection<Node> Nodes = new ObservableCollection<Node>();
    IList<Node> expandedNodes = new List<Node>();
    Node selectedNode;

    protected override async Task OnInitializedAsync()
    {
        var folders = ComputerService.GetFolders();

        foreach (var folder in folders)
        {
            Nodes.Add(folder);
        }
    }
}

<Row>
    <Column>
        <TreeView Nodes="Nodes" GetChildNodes="@(node => node is Folder folder ? folder.Children : null)" HasChildNodes="@(node => node is Folder)" @bind-SelectedNode="selectedNode" @bind-ExpandedNodes="expandedNodes">
            <NodeContent>
                <Icon Name="@((expandedNodes.Contains(context) && context is Folder) ? context.ExpandedIcon : context.Icon)" />
                @context.Name
            </NodeContent>
        </TreeView>
    </Column>

    <Column>
        @if (selectedNode is Folder selectedFolder)
        {
            foreach (var child in selectedFolder.Children)
            {
                if (child is Computer computer)
                {
                    <a href="https://localhost:7111/@computer.IPAddress/control" target="_blank">
                        <div class="p-4 m-2 bg-white rounded-lg shadow-md flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <Icon Name="@computer.Icon" />
                            </div>
                            <div>
                                <div class="text-lg font-semibold text-gray-900">@computer.Name</div>
                                <p class="text-gray-600">IP: @computer.IPAddress</p>
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </Column>
</Row>
