@page "/"
@using RemoteMaster.Client.Models;
@using RemoteMaster.Client.Components;

<div class="container mx-auto py-6 px-4">

    <div class="flex justify-between mb-4">
        <Button Color="Color.Primary" Clicked="SyncComputersFromAD" class="btn btn-blue">
            <i class="fas fa-sync-alt mr-2"></i> Sync Computers from AD
        </Button>

        <div class="space-x-4">
            <Button Color="Color.Primary" Clicked="(() => _addFolderModalRef.Show())" class="btn btn-blue">
                <i class="fas fa-folder-plus mr-2"></i> Add Folder
            </Button>

            <Button Color="Color.Primary" Clicked="(() => _addComputerModalRef.Show())" class="btn btn-blue">
                <i class="fas fa-desktop mr-2"></i> Add Computer
            </Button>
        </div>
    </div>

    <SyncResultsModal @ref="_syncResultsModalRef" />

    <AddFolderModal @ref="_addFolderModalRef" Nodes="_nodes" />
    <AddComputerModal @ref="_addComputerModalRef" Nodes="_nodes" />

    <Row class="grid grid-cols-3 gap-4">

        <Column class="col-span-1 border-r">
            <Card class="border rounded-lg p-4">
                <TreeView Nodes="_nodes" GetChildNodes="@(node => (node as Folder)?.Children)" HasChildNodes="@(node => node is Folder)" @bind-SelectedNode="_selectedNode" @bind-ExpandedNodes="_expandedNodes">
                    <NodeContent>
                        <Icon Name="@((_expandedNodes.Contains(context) && context is Folder) ? context.ExpandedIcon : context.Icon)" />
                        @context.Name
                    </NodeContent>
                </TreeView>
            </Card>
        </Column>

        <Column class="col-span-2 grid grid-cols-4 gap-4">
            @if (_selectedNode is Folder selectedFolder)
            {
                foreach (var child in selectedFolder.Children)
                {
                    if (child is Computer computer)
                    {
                        <Card class="card w-24 h-32 cursor-pointer">
                            <CardImage Source="/img/gallery/2.jpg" Alt="@computer.Name" class="w-full h-16 object-cover" />
                            <Dropdown RightAligned ShowArrow="false" class="absolute right-0 mt-2">
                                <DropdownToggle>
                                    <Button Margin="Margin.Is0" Padding="Padding.Is0">
                                        <Icon Name="IconName.Bars" />
                                    </Button>
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem Clicked="(() => OpenShell(computer, Shell.PowerShell))">
                                        <span>
                                            <i class="fas fa-terminal mr-2"></i> Open Command
                                        </span>
                                    </DropdownItem>
                                    <DropdownItem Clicked="(() => OpenInNewTab(computer))">
                                        <span>
                                            <i class="fas fa-external-link-alt mr-2"></i> Open in Tab
                                        </span>
                                    </DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                            <CardBody class="m-2 p-1">
                                <CardTitle Size="3" class="text-sm font-bold">
                                    @computer.Name
                                </CardTitle>
                            </CardBody>
                        </Card>
                    }
                }
            }
        </Column>

    </Row>

    <Snackbar @ref="_fetchComputersFromADStatusSnackbar" Color="SnackbarColor.Secondary">
        <SnackbarBody>
            @_fetchComputersFromADStatus
            <SnackbarAction Clicked="(() => _fetchComputersFromADStatusSnackbar.Hide())">Hide</SnackbarAction>
        </SnackbarBody>
    </Snackbar>

</div>
