<div class="mb-4 bg-transparent box-border selectable-item" data-ip-address="@Computer.IPAddress">
    <div class="bg-white shadow-lg rounded-md overflow-hidden">
        <div class="flex items-center justify-center h-32 @(ThumbnailPath == "/img/notconnected.png" ? "bg-de876c" : "bg-gray-200")">
            <img src="@ThumbnailPath" alt="Thumbnail" class="max-h-32 object-cover object-center" draggable="false" />
        </div>

        <div class="p-3">
            <input type="checkbox" checked="@IsSelected" @onchange="HandleCheckboxChange" class="mr-2" />
            <span class="text-center text-lg">@Computer.Name</span>
        </div>
    </div>
</div>
